# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [1]:
var1 = 'Eu sou Minerandor de Dados!!'
print(var1)

Eu sou Minerandor de Dados!!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [5]:
soma = 10 + 2
subt = 10 - 2
multip = 10 * 2
divi = int(10 / 2)
print( soma,subt , multip , divi)

12 8 20 5

3) Imprima o tipo de um determinado valor inteiro.

In [6]:
var2 = 10
print(type(var2))

<class 'int'>

4) Converta o valor passado anteriormente para o tipo float

In [8]:
var2 = 10
var2 = float(var2)
print(var2)

10.0

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [10]:
var2 = 10
var2 =  float(var2)
var2 = str(var2)
print(type(var2))

<class 'str'>

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [11]:
valor1 = 2.898
valor1 = round(valor1,1)
print(valor1)

2.9

In [14]:
valor2 = 2.4545455
print('o valor2 com 4 casas decimais é: {0:.4f}'.format(valor2))

o valor2 com 4 casas decimais é: 2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [17]:
nome = 'marcello'
print(nome)
print(type(nome))

marcello
<class 'str'>

In [21]:
nome = 'marcello'
nome = nome + ' machado'

print(nome)

marcello machado

In [28]:
e_mail, idade = ('marcelloalmeidati@hotmail.com',30),('marcelloalmeidati@hotmail.com',30)
print(e_mail)
print(idade)

('marcelloalmeidati@hotmail.com', 30)
('marcelloalmeidati@hotmail.com', 30)

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

In [ ]:
# o Python não permite que seja criado variáveis com nomes de funções ou métodos, break é usado para interromper loops

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [29]:
var1 = 'Python é uma maldição'
print(var1[0])
print(var1[0:7])
print(len(var1))

P
Python
21

In [31]:
var2 = 'dados é o novo petróleo, em Deus eu confio, para o resto me traga dados'
print('dados'in var2)
print(var2.count('dados'))

True
2

In [33]:
var1 = 'python é uma maldição'
var1 = var1.capitalize()
print(var1)

Python é uma maldição

In [53]:
var1 = 'Python é uma maldição'
var1 = var1.split()
print(var1)

['Python', 'é', 'uma', 'maldição']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [59]:
lista1 = [10,15,20,30,45,60,85,90]
print(lista1[1])
print(len(lista1))
print(sum(lista1))
lista1[1]= 16
print(lista1)
print(lista1[1:])
lista1= lista1.clear()
print(lista1)

15
8
355
[10, 16, 20, 30, 45, 60, 85, 90]
[16, 20, 30, 45, 60, 85, 90]
None

In [78]:
salarios = [900,1200,1500,800,12587,10000]
print(10000 in salarios)
print(max(salarios))
print(min(salarios))

True
12587
800

In [102]:
salarios = [900, 1200, 1500, 800, 12587, 10000]
salarios.append(7000)
print(salarios)
salario2 = [1587, 2595]
salarios.extend(salario2)
print(salarios)
print(sorted(salarios))
print(sorted(salarios, reverse= True))

[900, 1200, 1500, 800, 12587, 10000, 7000]
[900, 1200, 1500, 800, 12587, 10000, 7000, 1587, 2595]
[800, 900, 1200, 1500, 1587, 2595, 7000, 10000, 12587]
[12587, 10000, 7000, 2595, 1587, 1500, 1200, 900, 800]